.bgimage {
  background-image: url(../images/roboticautomation.jpg);
  background-position: center center;
  background-size: cover;
  height: 200px;
}

h1 {
    color: white;
    t33ext-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-shadow: 1px 1px 2px black, 0 0 25px #337ab7, 0 0 5px #000000;
}

footer {
  color: lightgrey;
}
